.formulario-contacto {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.campo-form {
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: rgb(11, 75, 212);
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  input:focus,
  textarea:focus {
    border-color: #0b4abd;
    outline: none;
    box-shadow: 0 0 5px rgba(11, 75, 212, 0.5);
  }
}

.mapa {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.mapa iframe {
  width: 100%;
  max-width: 800px;
  height: 400px;
  border: 0;
  border-radius: 10px;
}

@include mobile {
  .contacto {
    padding: 20px 10px;
  }

  .contacto h2 {
    font-size: 28px;
  }

  .formulario-contacto {
    gap: 16px;
  }

  .campo-form input,
  .campo-form textarea {
    font-size: 14px;
  }

  .mapa iframe {
    height: 300px;
  }
}
